---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/search?api_key=dc6zaTOxFJmzC&q=lorem
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"gif","id":"xT9IgjTvGNpvPEdyHm","slug":"lore-amazon-xT9IgjTvGNpvPEdyHm","url":"https:\/\/giphy.com\/gifs\/lore-amazon-xT9IgjTvGNpvPEdyHm","bitly_gif_url":"https:\/\/gph.is\/2y7wtxl","bitly_url":"https:\/\/gph.is\/2y7wtxl","embed_url":"https:\/\/giphy.com\/embed\/xT9IgjTvGNpvPEdyHm","username":"lore","source":"","rating":"pg-13","content_url":"","source_tld":"","source_post_url":"","is_sticker":0,"import_datetime":"2017-10-11
        00:20:16","trending_datetime":"0000-00-00 00:00:00","user":{"avatar_url":"https:\/\/media.giphy.com\/avatars\/lore\/79aRTQmwVyCt.jpg","banner_url":"https:\/\/media.giphy.com\/headers\/lore\/ng0WdftAZ5fu.jpg","profile_url":"https:\/\/giphy.com\/lore\/","username":"lore","display_name":"Lore","guid":""},"images":{"fixed_height_still":{"url":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/200_s.gif?cid=e1bb72ff5b44752354326a5455f66c40","width":"360","height":"200","size":"45553"},"original_still":{"url":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/giphy_s.gif?cid=e1bb72ff5b44752354326a5455f66c40","width":"472","height":"262","size":"72380"},"fixed_width":{"url":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/200w.gif?cid=e1bb72ff5b44752354326a5455f66c40","width":"200","height":"111","size":"259632","mp4":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/200w.mp4?cid=e1bb72ff5b44752354326a5455f66c40","mp4_size":"19873","webp":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/200w.webp?cid=e1bb72ff5b44752354326a5455f66c40","webp_size":"57902"},"fixed_height_small_still":{"url":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/100_s.gif?cid=e1bb72ff5b44752354326a5455f66c40","width":"180","height":"100","size":"14381"},"fixed_height_downsampled":{"url":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/200_d.gif?cid=e1bb72ff5b44752354326a5455f66c40","width":"360","height":"200","size":"294178","webp":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/200_d.webp?cid=e1bb72ff5b44752354326a5455f66c40","webp_size":"42246"},"preview":{"width":"338","height":"188","mp4":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/giphy-preview.mp4?cid=e1bb72ff5b44752354326a5455f66c40","mp4_size":"23066"},"fixed_height_small":{"url":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/100.gif?cid=e1bb72ff5b44752354326a5455f66c40","width":"180","height":"100","size":"222491","mp4":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/100.mp4?cid=e1bb72ff5b44752354326a5455f66c40","mp4_size":"18520","webp":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/100.webp?cid=e1bb72ff5b44752354326a5455f66c40","webp_size":"53110"},"downsized_still":{"url":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/giphy-downsized_s.gif?cid=e1bb72ff5b44752354326a5455f66c40","width":"472","height":"262","size":"72380"},"downsized":{"url":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/giphy-downsized.gif?cid=e1bb72ff5b44752354326a5455f66c40","width":"472","height":"262","size":"1341278"},"downsized_large":{"url":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/giphy.gif?cid=e1bb72ff5b44752354326a5455f66c40","width":"472","height":"262","size":"1341278"},"fixed_width_small_still":{"url":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/100w_s.gif?cid=e1bb72ff5b44752354326a5455f66c40","width":"100","height":"56","size":"5858"},"preview_webp":{"url":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/giphy-preview.webp?cid=e1bb72ff5b44752354326a5455f66c40","width":"308","height":"171","size":"49722"},"fixed_width_still":{"url":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/200w_s.gif?cid=e1bb72ff5b44752354326a5455f66c40","width":"200","height":"111","size":"16615"},"fixed_width_small":{"url":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/100w.gif?cid=e1bb72ff5b44752354326a5455f66c40","width":"100","height":"56","size":"73157","mp4":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/100w.mp4?cid=e1bb72ff5b44752354326a5455f66c40","mp4_size":"9055","webp":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/100w.webp?cid=e1bb72ff5b44752354326a5455f66c40","webp_size":"24784"},"downsized_small":{"width":"472","height":"262","mp4":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/giphy-downsized-small.mp4?cid=e1bb72ff5b44752354326a5455f66c40","mp4_size":"95316"},"fixed_width_downsampled":{"url":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/200w_d.gif?cid=e1bb72ff5b44752354326a5455f66c40","width":"200","height":"111","size":"100863","webp":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/200w_d.webp?cid=e1bb72ff5b44752354326a5455f66c40","webp_size":"19300"},"downsized_medium":{"url":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/giphy.gif?cid=e1bb72ff5b44752354326a5455f66c40","width":"472","height":"262","size":"1341278"},"original":{"url":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/giphy.gif?cid=e1bb72ff5b44752354326a5455f66c40","width":"472","height":"262","size":"1341278","frames":"18","mp4":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/giphy.mp4?cid=e1bb72ff5b44752354326a5455f66c40","mp4_size":"75189","webp":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/giphy.webp?cid=e1bb72ff5b44752354326a5455f66c40","webp_size":"201360","hash":"8323839b3e057bbc5b67444fd962584e"},"fixed_height":{"url":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/200.gif?cid=e1bb72ff5b44752354326a5455f66c40","width":"360","height":"200","size":"790325","mp4":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/200.mp4?cid=e1bb72ff5b44752354326a5455f66c40","mp4_size":"46400","webp":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/200.webp?cid=e1bb72ff5b44752354326a5455f66c40","webp_size":"126132"},"looping":{"mp4":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/giphy-loop.mp4?cid=e1bb72ff5b44752354326a5455f66c40","mp4_size":"1399479"},"original_mp4":{"width":"480","height":"266","mp4":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/giphy.mp4?cid=e1bb72ff5b44752354326a5455f66c40","mp4_size":"75189"},"preview_gif":{"url":"https:\/\/media0.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/giphy-preview.gif?cid=e1bb72ff5b44752354326a5455f66c40","width":"132","height":"73","size":"48930"},"480w_still":{"url":"https:\/\/media1.giphy.com\/media\/xT9IgjTvGNpvPEdyHm\/480w_s.jpg?cid=e1bb72ff5b44752354326a5455f66c40","width":"480","height":"266"}},"title":"scared
        amazon GIF by Lore","_score":200017.23},{"type":"gif","id":"3o7aCUAHFYTSUjzcnC","slug":"lore-amazon-3o7aCUAHFYTSUjzcnC","url":"https:\/\/giphy.com\/gifs\/lore-amazon-3o7aCUAHFYTSUjzcnC","bitly_gif_url":"https:\/\/gph.is\/2ya4ZXU","bitly_url":"https:\/\/gph.is\/2ya4ZXU","embed_url":"https:\/\/giphy.com\/embed\/3o7aCUAHFYTSUjzcnC","username":"lore","source":"","rating":"pg-13","content_url":"","source_tld":"","source_post_url":"","is_sticker":0,"import_datetime":"2017-10-11
        00:19:17","trending_datetime":"0000-00-00 00[...]
